*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.gallery-nav{
    height: 60vh;
    width: 100%;
    background-image: url(./assets/img/gallery-bg.jpg);
    background-position: bottom;
    background-size: cover;
    display: flex-end;
    background-repeat: no-repeat;
    background-attachment: fixed;   
}
.gallery-nav::before{
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    height: 60%;
    width: 100%;
}
.gallery-nav p{
    position: relative;
    z-index: 1;
    color: #DE6E23;
    font-size: 18px;
    padding-left: 15px;
    float: right;
    margin-right: 4%;
    margin-top: 1%;
    font-weight: bold;
}
.gallery-nav img{
    position: relative;
    z-index: 1;
    height: 14vh;
    margin-top: 2%;
    margin-left: 3%;
}
.gallery-nav ul{
    position: relative;
    z-index: 1;
    display: flex;
    margin-top: -4%;
    margin-left: 22%;
    font-size: 18px;
}
.gallery-nav li,a{
    position: relative;
    z-index: 1;
    color: #DE6E23;
    padding-left: 20px;
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    margin-top: 1%;
}
.gallery-nav a:hover{
    position: relative;
    z-index: 1;
    color: #DE6E23;
}
.gallery-nav h1{
    position: relative;
    z-index: 1;
    color: #DE6E23;
    text-align: center;
    justify-content: center;
    margin-top: 10%;
    font-size: 100px;
    font-weight: 800px;
}
#images{
    position: relative;
    min-height: 100vh;
    background: #ddd;
    margin-top: 7%;
}
#gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
    
}
#gallery .imgs{
    height: 250px;
    width: 350px;
    box-shadow: 0  5px 15px rgba(0, 0, 0, 1);
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
}
#images #gallery .imgs img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .3s linear;
}
#gallery .imgs:hover img{
    transform: scale(1.1);
}